<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="icon" href="{% static 'image/web icon/logo.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital System Login</title>

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'style/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/commen.css' %}">

    <!-- SweetAlert CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    {% include 'header.html' %}
    <div class="login-page">
        <div class="login-container">
            <h1 class="login-title">Welcome back</h1>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" placeholder="Email address" id="username" name="email" required>
                </div>
                <div class="input-group">
                    <input type="password" placeholder="Password" id="password" name="password" required>
                </div>
                <p class="forgot-password"><a href="#">Forgot password</a></p>
                <button type="submit">Login</button>
                
                <p class="signup-link">Don't have an account? <a href="{% url 'sign_up' %}">Sign Up</a></p>
            </form>
        </div>
    </div>
    {% include 'footer.html' %}

    <!-- Trigger SweetAlert only for the success message -->
    {% if messages %}
        {% for message in messages %}
            <script>
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: '{{ message }}',
                    showConfirmButton: true
                });
            </script>
        {% endfor %}
    {% endif %}
</body>
</html>
