:root {
  --blue_color_btn: #007bff;
  --blue_color_btn_hover: #006fe5;
  --primary-color: #0066cc;
  --secondary-color: #004d99;
  --accent-color: #e6f0ff;
  --text-color: #333;
  --light-gray: #f5f5f5;
  --white: #ffffff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }