/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2a2a2a;
    color: #fff;
  }
  
  .logo {
    color: red;
  }
  
  .navbar {
    display: flex;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-links a:hover {
    color: #ff9900; /* Highlight color on hover */
  }
  
  .menu-icon {
    display: none; /* Hide menu icon by default */
    font-size: 30px;
  }
  
  @media screen and (max-width: 768px) {
    .navbar {
      display: none; /* Hide menu in small screens */
      width: 100%;
      text-align: center;
    }
  
    .nav-links {
      flex-direction: column;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  
    .menu-icon {
      display: block; /* Show hamburger icon on small screens */
    }
    
    .navbar.active {
      display: block; /* Show menu when it's active */
    }
  }
  